#jMonkey Engine ignores
/DyNaDeMo/nbproject/private/
/DyNaDeMo/build/

#ignore gedit temp files
*~

#ignore operating specific libraries
/DyNaDeMo/OpenAL64.dll
/DyNaDeMo/lwjgl64.dll
liblwjgl64.so
libopenal64.so

#ignore eclipse project files
.classpath
.project
.settings

/DyNaDeMo/assets/Textures/*.blend1
/DyNaDeMo/assets/Textures/*.blend2


/bin/
/DyNaDeMo/dist/
