#jMonkey Engine ignores
/DyNaDeMo/nbproject/private/
/DyNaDeMo/build/

#ignore gedit temp files
*~

/DyNaDeMo/OpenAL64.dll
/DyNaDeMo/dist/
/DyNaDeMo/lwjgl64.dll

/DyNaDeMo/assets/Textures/*.blend1
/DyNaDeMo/assets/Textures/*.blend2